/* cabeçalho */

.cabecalho_container {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--azul-escuro);
}

.cabecalho_links {
    margin-left: 35em;
}

.link_item {
    margin-right: 2em;
    text-decoration: none;
    color: var(--branco);
}

.cabecalho_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    margin-left: 1em;
}

.nome_logo {
    color: var(--branco);
}

