/* Conteudo da apresentacao */

.apresentacao {
    display: flex;
    justify-content: center;
    background-color: var(--branco);
    gap: 7em;
}

.apresentacao_imagem {
    width: 500px;
    margin-right: 2em;
}

.aprentacao_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.apresentacao_titulo {
    font-weight: 700;
    font-size: 5em;
    margin-bottom: 0.2em;
}

.aprensetacao_paragrafo {
    font-weight: 500;
    font-size: 1.3em;
}

.apresentacao_btn {
    text-decoration: none;
    background-color: var(--verde-agua);
    padding: 1em 0.5em;
    width: 120px;
    text-align: center;
    border-radius: 40px;
    font-weight: 500;
}

/* Conteudo da sessao sobre */

.sobre{
    background-color: var(--verde-claro);
    display: flex;
    justify-content: center;
    align-items: center;
}


.sobre_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 2em;
}

.sobre_titulo {
    font-weight: 700;
    font-size: 2em;
}

.sobre_paragrafo {
    width: 68%;
    font-size: 1.6em;
}

.sobre_imagem {
    width: 300px;
}


/* conteudo da sessao de instruçoes */

.instrucoes {
    background-color: var(--azul-escuro);
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}

.instrucoes_titulo {
    margin-top: 2em;
    color: var(--branco);
    font-weight: 700;
    font-size: 2em;
}

.instrucoes_paragrafo {
    color: var(--preto);
    font-size: 1.5em;
    color: darkgray;
}

.instrucoes_cards {
    display:flex;
    justify-content: center;
    align-items:center;
    gap: 5em;
}


.cards_item {
    background-color: var(--branco);
    color: var(--preto);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em;
    padding: 3em;
    border-radius: 20px;
    box-shadow: 9px -9px gray;
}

.intrucoes_icone {
    width: 60px;
    margin-bottom: 1em;
}

.intrucoes_subtitulo {
    font-size: 1.8em;
    font-weight: 500;
    margin-bottom: 1em;
}

/* Google maps */

.instrucoes_mapa-google {
    margin-bottom: 3em;
    border: 4px solid var(--verde-agua);
    border-radius: 5px;
}


/* Patrocinios */

.patrocionios {
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.patrocinios_titulo {
    margin-top: 2em;
    color: var(--preto);
    font-weight: 700;
    font-size: 2em;
}


.pratrocionios_lista {
    display:flex;
}

.item_lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5em;
}

.item_nome {
    margin-top: 1em;
    font-weight: 500;
}

/* Rodape */

hr {
    height: 1px;
    margin: 0;
    border: 30px solid var(--branco);
    padding: 0 5em 0 11em;
    width: 80%;
    background-color: var(--azul-escuro);
}

.rodape {
    background-color: var(--branco);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    gap: 3em;
    font-family: var(--font-principal);
    color: var(--azul-escuro);
}

.rodape_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    margin-left: 1em;
}

.rodape_contatos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape_numero {
    display: flex;
    align-items: center;
    margin-left: 5em;
    
}

.rodape_email {
    display: flex;
    align-items: center;
    margin-left: 8em;
}

.rodape_icone {
    width: 15px;
    margin-right: 1em;
}


.nome_logo-rodape {
    color: var(--preto);
    font-weight: bold;
}

